body {
	background: #000;
	margin: 0;
	font-size: 0;
	overflow: hidden;
	font-family: 'VT323', monospace;
}

canvas {
	transition: filter 1s;

	&.prepair {
		filter: sepia(0%) brightness(1) saturate(100%);
	}

	&.win {
		filter: sepia(0%) brightness(1.2) saturate(180%);
	}

	&.lose {
		filter: sepia(100%) brightness(.4) saturate(100%);
	}
}

audio {
	display: none;
}

#loader,
#overlay,
#ui {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

#overlay {
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	opacity: 1;
	z-index: 10;
	transition: opacity .1s;

	> div {
		flex: 1;
		transition: background 0.2s, opacity 0.2s;
		color: #fff;
		font-size: 20px;

		h3 {
			text-align: center;
			font-size: 7vh;
		}

		span {
			text-align: center;
			display: block;
			font-size: 4vh;
			transition: font-size 0.1s linear;
		}

		&.waiting span {
			font-size: 8vh;

			&::before {
				content: ">";
				animation: arrow_left 1.6s infinite ease-in-out;
			}

			@keyframes arrow_left {
				0% {
					margin-right: 10px;
				}

				50% {
					margin-right: 40px;
				}

				100% {
					margin-right: 10px;
				}
			}

			&::after {
				content: "<";
				animation: arrow_right 1.6s infinite ease-in-out;
			}

			@keyframes arrow_right {
				0% {
					margin-left: 10px;
				}

				50% {
					margin-left: 40px;
				}

				100% {
					margin-left: 10px;
				}
			}
		}

		&.idle {
			background: rgba(0,0,0,.6);
		}

		&.waiting {
			background: rgba(0,0,0,.5);
		}

		&.ready {
			opacity: 0;
		}
	}

	> ul {
		position: absolute;
		top: 30px;
		right: 30px;
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 20px;
		list-style: none;
		text-align: right;

		> li:first-child {
			font-weight: bold;
		}
	}

	> span {
		position: absolute;
		top: 30px;
		left: 30px;
		font-size: 22px;
		max-width: 15%;
		line-height: .8;
		text-align: justify;
		color: white;
	}
}

#loader {
	text-align: center;
	background-color: #639bff;
	background-image: url("");
	background-repeat: repeat-x;
	background-position: 0% bottom;
	opacity: 1;
	z-index: 11;
	transition: opacity .5s ease-in;
	animation: waves 2.4s infinite linear;

	h1 {
		height: 20vh;
		margin-top: 20vh;
		font-size: 15vh;
		color: #3b70ce;
		text-shadow: 0 0 6px rgba(61,122,231,.45);
	}

	progress {
		height: 20px;
		width: 200px;
	}

	progress[value] {
		width: 250px;
		height: 25px;
		background-color: transparent;
	}

	img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

@keyframes waves {
0% {
	background-position: 0px 100%;
}

50% {
	background-position: 32px 102%;
}

100% {
	background-position: 64px 100%;
}
}

#topUi {
	top: 5%;
	position: fixed;
}

#bottomUi {
	top: 55vh;
	position: fixed;
}

.ui {
	width: 100%;
	z-index: 9;

	.xpbar {
		position: absolute;
		left: 50%;
		top: 0px;
		opacity: 1;
		transform: translateX(-50%);
		transition: opacity .2s, top .2s;

		span {
			color: white;
			font-size: 25px;
			position: absolute;
			left: 10px;
			width: 100%;
		}

		progress[value] {
			width: 250px;
			height: 25px;
			background-color: green;
		}
	}

	#buffsTop, #buffsBottom {
		height: 100px;
		position: absolute;
		right: 10%;
		text-align: right;
		top: 0px;
		opacity: 1;
		transition: opacity .2s, top .2s;

		.item {
			width: 100px;
			height: 100px;
			// background-color: green;
			display: inline-block;
			margin: 0 0 0 30px;
			// background-image: url('../../resources/powerups/placeholder.png');
			background-size: cover;
			background-position: center;
		}
	}

	> div:nth-child(2) {
		position: absolute;
		left: 5%;
		top: 0px;
		opacity: 1;
		transition: opacity .2s, top .2s;

		img {
			height: 25px;
			margin-right: 4px;

			&.gone {
				filter: grayscale(1);
				opacity: .3;
			}
		}
	}
}

#winTop {
	top: 25%;
}

#winBottom {
	top: 75%;
}

#winTop, #winBottom {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) scale(5);
	font-size: 12vh;
	z-index: 12;
	opacity: 0;
	pointer-events: none;
	transition: transform .3s ease-out, opacity .2s;

	&.lose {
		color: #D1B196;
		text-shadow: 5px 3px rgba(231, 239, 110, 0.19);
	}

	&.win {
		color: #333;
		text-shadow: 5px 3px rgba(255, 255, 255, 0.69);
	}
}
